/* Стиль для кореневого контейнера Login форми */
.root {
  width: 400px;
  /* Ширина форми встановлена на 400px */
  padding: 50px;
  /* Відступи всередині форми */
  border: 1px solid #dedede;
  /* Легка межа навколо форми */
  margin: 50px auto;
  /* Центрування форми по горизонталі з відступом згори та знизу */
}

/* Стиль для кожного поля вводу, додається відступ знизу */
.field {
  margin-bottom: 20px !important;
  /* Встановлення відступу, що перекриває інші правила */
}

/* Стиль для заголовка форми */
.title {
  text-align: center !important;
  /* Центрування тексту */
  font-weight: bold !important;
  /* Жирний шрифт для заголовка */
  margin-bottom: 30px !important;
  /* Відступ знизу */
}