$blue: #4361ee;
// Змінна для зберігання основного синього кольору, який використовується в стилях для hover-ефектів.

.root {
  // Основний контейнер поста.
  background-color: #fff; // Білий фон.
  border: 1px solid #dedede; // Сірий контур.
  border-radius: 6px; // Закруглені кути.
  overflow: hidden; // Обрізає контент, який виходить за межі контейнера.
  margin-bottom: 15px; // Відступ між постами.
  position: relative; // Забезпечує позиціонування для дочірніх елементів, таких як кнопки редагування.

  &:hover {
    // Стилі при наведенні миші.
    border: 1px solid $blue; // Зміна кольору контуру на синій.
    box-shadow: 0 0 0 1px $blue; // Додається легкий синій тіньовий ефект.

    .editButtons {
      // Показує кнопки редагування при наведенні на пост.
      opacity: 1; // Змінює прозорість на повну.
    }
  }

  &Full {

    // Модифікатор для повноекранного вигляду поста.
    &:hover {
      // Відключає hover-ефекти в повноекранному режимі.
      background-color: #fff;
      border: 1px solid #dedede;
      box-shadow: none;
    }
  }
}

.image {
  // Секція зображення поста.
  width: 100%; // Зображення займає всю ширину контейнера.
  height: 300px; // Фіксована висота.
  object-fit: cover; // Забезпечує обрізання і масштабування зображення без спотворення.

  &Full {
    // Стилі для зображення в повноекранному режимі.
    min-height: 300px;
    height: 100%; // Зображення займає всю доступну висоту.
  }
}

.wrapper {
  // Контейнер для внутрішнього контенту поста.
  padding: 10px 20px 20px; // Внутрішні відступи.
}

.content {
  // Секція текстового контенту поста.
  margin: 30px 0 50px; // Відступи навколо тексту.

  p {
    // Параграфи тексту.
    font-size: 22px; // Розмір шрифту.
    line-height: 36px; // Висота рядка.
  }
}

.indention {
  padding-left: 40px; // Відступ тексту зліва.
}

.title {
  // Заголовок поста.
  font-size: 28px; // Розмір шрифту.
  margin: 0; // Заборона зовнішніх відступів.

  a {
    // Стилі для посилання заголовка.
    text-decoration: none; // Видалення підкреслення.
    color: #000; // Чорний текст.

    &:hover {
      // Стиль при наведенні.
      color: $blue; // Зміна кольору тексту на синій.
    }
  }

  &Full {
    // Стилі для заголовка у повноекранному режимі.
    font-size: 42px;
    font-weight: 900; // Потовщення тексту.
  }
}

.tags {
  // Секція з тегами поста.
  list-style: none; // Видалення стандартних стилів списку.
  padding: 0; // Видалення відступів.
  margin: 5px 0 0 0; // Відступ зверху.

  li {
    // Кожен тег.
    display: inline-block; // Розташування тегів в один рядок.
    font-size: 14px; // Розмір шрифту.
    margin-right: 15px; // Відступ між тегами.
    opacity: 0.5; // Прозорість.

    &:hover {
      // Стиль при наведенні.
      opacity: 1; // Зміна прозорості на повну.
    }

    a {
      // Посилання на теги.
      text-decoration: none; // Видалення підкреслення.
      color: #000; // Чорний текст.
    }
  }
}

.postDetails {
  // Секція з деталями поста (наприклад, автор, дата).
  list-style: none; // Видалення стандартних стилів списку.
  padding: 0;
  margin: 20px 0 0 0; // Відступ зверху.

  li {
    // Кожна деталь.
    display: inline-flex; // Вирівнювання деталей в один рядок.
    align-items: center; // Вирівнювання елементів по вертикалі.
    font-size: 14px; // Розмір шрифту.
    margin-right: 20px; // Відступ між деталями.
    opacity: 0.5; // Прозорість.

    svg {
      // Іконки в деталях.
      font-size: 18px; // Розмір іконки.
      margin-right: 5px; // Відступ від тексту.
    }
  }
}

.skeleton {
  // Скелетон (завантажувальний плейсхолдер) для поста.
  background-color: #fff; // Білий фон.
  border: 1px solid #dedede; // Сірий контур.
  border-radius: 6px; // Закруглені кути.
  overflow: hidden; // Обрізання контенту, що виходить за межі.
  margin-bottom: 15px; // Відступ знизу.

  &Content {
    padding: 20px; // Внутрішні відступи.
  }

  &Info {
    margin-left: 50px; // Відступ для інформації.
  }
}

.skeletonUser {
  display: flex; // Розташування елементів в один рядок.

  &Details {
    display: flex;
    flex-direction: column; // Вертикальне вирівнювання елементів.
  }
}

.skeletonTags {
  display: flex; // Розташування тегів в рядок.

  span {
    margin-right: 15px; // Відступ між тегами.
  }
}

.editButtons {
  // Кнопки редагування поста.
  position: absolute; // Абсолютне позиціонування.
  right: 15px; // Відступ праворуч.
  top: 15px; // Відступ зверху.
  background-color: rgba(255, 255, 255, 1); // Білий фон.
  border-radius: 10px; // Закруглені кути.
  opacity: 0; // Спочатку приховані.
  transition: all 0.15s ease-in-out; // Плавна анімація появи.
}