.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
  // Контейнер для форми коментаря. Використовується Flexbox для розміщення елементів в ряд.
  // Задаються відступи: знизу 20px, зліва 17px і справа 20px для коректного вирівнювання елементів.
}

.avatar {
  margin-right: 15px;
  // Визначає відступ справа від аватарки коментатора. Це дозволяє створити простір між аватаром і текстовим полем.
}

.form {
  width: 100%;
  // Блок для форми. Задається ширина 100%, щоб текстове поле і кнопка займали всю доступну ширину.

  button {
    margin-top: 10px;
    // Відступ для кнопки від текстового поля. Це дозволяє створити простір між полем для вводу коментаря та кнопкою.
  }
}