/* Основний стиль для заголовка поста.
   Визначає великі шрифти та жирне накреслення для заголовка поста. */
.title {
  input {
    font-size: 42px;
    /* Встановлюється великий розмір шрифту для заголовка */
    font-weight: 900;
    /* Жирний шрифт для заголовка */
  }

  div {

    /* Псевдоелементи :before та :after не будуть відображатися */
    &:before,
    &:after {
      display: none;
    }
  }
}

/* Стиль для зображень, що додаються до поста.
     Забезпечує повну ширину для зображення в межах контейнера. */
.image {
  width: 100%;
  /* Зображення заповнює всю доступну ширину */
}

/* Стиль для тегів, які додаються до поста */
.tags {
  margin: 15px 0;
  /* Відступи зверху та знизу */
}

/* Стиль для редактора тексту поста.
     Додається відступи та спеціальні налаштування для глобальних класів редактора. */
.editor {
  margin: 30px -30px;
  /* Відступи для редактора */

  :global {
    .cm-s-easymde {
      border: 0;
      /* Вимикає межу редактора */
      font-size: 22px;
      /* Налаштовує розмір шрифту в редакторі */
    }

    .editor-toolbar {
      border: 0;
      /* Вимикає межу тулбара */
      background-color: rgb(0 0 0 / 2%);
      /* Легкий фон тулбара */
    }
  }
}

/* Стиль для кнопок під редактором. Встановлюються відступи для кнопок. */
.buttons {
  display: flex;
  /* Використовується флекс-бокс для розміщення кнопок */

  button {
    margin-right: 15px;
    /* Відступ між кнопками */
  }
}