.root {
  display: flex;
  align-items: center;
  /* Головний контейнер компонента UserInfo, вирівнює контент горизонтально 
     та центрує його по вертикалі. */
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
  /* Аватар користувача: 
     - розмір 30x30 пікселів;
     - кругла форма завдяки border-radius;
     - відступ праворуч для розділення від тексту. */
}

.userName {
  font-weight: 500;
  font-size: 14px;
  /* Ім'я користувача: 
     - середня жирність шрифту;
     - компактний розмір для адаптивного дизайну. */
}

.userDetails {
  display: flex;
  flex-direction: column;
  /* Контейнер для текстової інформації про користувача, 
     організований у вертикальний стек. */
}

.additional {
  font-size: 12px;
  opacity: 0.6;
  /* Додаткова інформація: 
     - менший розмір шрифту для меншої акцентуації;
     - напівпрозорість для візуальної ієрархії. */
}